.section {
    background-color: white;
    padding-bottom: 2%;
    border-radius: 5px;
    box-shadow: 10px 10px 45px -30px rgba(66, 68, 90, 1);
}

.section__headline {

    font-size: 25px;
    border-bottom: 1px solid #ddd;
    display: grid;
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: none;
}