.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
    margin: 1px;
}

@media (max-width: 730px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__newTaskInput {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__newTaskButton {
    padding: 10px;
    color: white;
    border: none;
    background-color: teal;
    transition: 0.5s;
}

.form__newTaskButton:hover {
    background-color: rgb(1, 182, 182);
    transform: scale(1.1);
}